{{!-- top section --}}
<nav class="navbar border border-dark rounded-lg">
  <span class="navbar-text container-fluid">
    <p><h1 class="display-4 text-center main">Imagin-A-Burger!</h1></p>
  </span>
</nav>

<div class="container-fluid middle">
  <div class="row justify-content-center">
      {{!-- left section --}}
    <div class="col-sm justify-content-center outside">  
        <div id="toEat">
            <h2 class="title text-center">Glorious Burgers</h2>
            <hr>
            <ul>
            {{#each burger}}
                {{#unless this.devoured}}
                    <li class="update-burger list-group-item list-group-item-warning">
                        
                        {{this.burger_id}}. {{this.burger_name}}
                        <button type="submit" class="burgerToEat btn btn-warning btn-sm" data-id="{{this.burger_id}}" data-name="{{this.burger_name}}" data-devoured="{{devoured}}">Devour?!?</button>        
                      
                    </li>
                {{/unless}}
            {{/each}}
            </ul>
        </div>
    </div>
{{!-- middle section --}}
    <div class="col-sm justify-content-center ">
        <img src="/assets/img/burger.gif" alt="Burger" class="border border-dark rounded-lg" height="100%" width="100%"> 
    </div>

{{!-- right section --}}
    <div class="col-sm justify-content-center outside">
        <div id="devoured">
            <h2 class="title text-center">Devoured Burgers!</h2>
            <hr>
            <ul>
            {{#each burger}}
                {{#if this.devoured}}
                <li class="list-group-item list-group-item-warning">
                    {{this.burger_id}}. {{this.burger_name}}
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
  </div>
</div>

{{!-- bottom section --}}
<div class="jumbotron jumbotron-fluid border border-dark rounded-lg">
  <div id="addBurger" class="container">
    
        <h2 class="text-center">Add a Burger!</h2>

        <form class="create-burger" action="/burgers" method="POST">

            <div class="form-group">
                <input type="text" id="burgerName" class="form-control" name="burgerName" placeholder="Super Delicious Burger Name Goes Here!">
            </div>

            <button type="submit" class="btn btn-warning btn-block">Add Awesome Burger</button>
        </form>
    
  </div>
</div>

{{!-- footer --}}
<footer class="border border-dark rounded-lg">
    <div class="container">
        Copyright&copy;
                2019 Clearplaid Creations
    </div>
</footer>

