<h1>Burgers! All the Burgers!</h1>


<div id="toEat">
    <h2>Burgers, to Eat or Not to Eat?</h2>

    <ul>
    {{#each burger}}
        {{#unless this.devoured}}
            <li>
                <div class="update-burger">
                {{this.burger_id}}. {{this.burger_name}}
                <button type="submit" class="burgerToEat" data-id="{{this.burger_id}}" data-name="{{this.burger_name}}" data-devoured="{{devoured}}">Devour It!</button>           
                </div>
            </li>
        {{/unless}}
    {{/each}}
    </ul>
</div>

<div id="devoured">
    <h2>Devoured Burgers! Finger-licking Good!</h2>

    <ul>
    {{#each burger}}
        {{#if this.devoured}}
        <li>
            {{this.burger_id}}. {{this.burger_name}}
        </li>
        {{/if}}
    {{/each}}
    </ul>
</div>

<div id="addBurger">
    <h2>Add a Burger! Any Burger that your Heart Desires!</h2>

    <form class="create-burger" action="/burgers" method="POST">

        <div class="form-group">
            <label for="burgerName">Burger Name:</label>
            <input type="text" id="burgerName" name="burgerName" placeholder="Super Delicious Burger">
        </div>

    <button type="submit">Add Awesome Burger</button>
    </form>
</div>
